package components

import (
	"fmt"

	"main/dbgen" // Add the missing import for "dbgen"
)

templ LeaderboardTable(items []dbgen.GetLeaderboardValuesRow) {
	// Render the table
	<table id="leaderboard-table">
		<tr>
			<th>NAME</th>
			<th>SCORE</th>
		</tr>
		for _, item := range items {
			<tr>
				<td class="p-2 border">{ item.Name.String }</td>
				<td class="p-2 border">{ fmt.Sprint(item.Score.Int32) }</td>
			</tr>
		}
	</table>
}
